{%extends 'base.html' %}

{%block content%}
<style>
    body{
    background:url('static/bg.png') no-repeat ;
	background-color:#333;
	background-position: center;
 	background-size: cover;
 	color:#fff;
}
    button{
    color:white;
    font-size:200%;
    background-color:#000;
    border:none;
    }
</style>
<body>
<div class="container">
    <h1 class="titles pt-5">The Sparks Foundation's GRIP JULY 2021</h1>
    <h2 class="tit1 py-3">Basic Banking System</h2>

    <div class="row py-5">
            <button class="button col-md-5 p-5 mx-5">Transfer Funds</button>
            <button class="button col-md-5 p-5 mx-5">See Users</button>
    </div>



</div>
</body>
{%endblock%}