{%extends 'base.html' %}

{%block content%}
<style>
    button{
    color:white;
    font-size:200%;
    background-color:#000;
    border:none;
    }
</style>
<style>
.collapsible {
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #000;
}

.collapsible:after {
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
}
</style>
<body>

<div class="container">
<h1 class="titles pb-5">Transfer Money Here</h1>

<button class="collapsible">View Customers</button>
<div class="content">
    <table class="table table-bordered pb-5">
    <thead class="thead-dark">
        <th scope="col">Username</th>
        <th scope="col">Funds</th>
    </thead>
    {%for user in user%}
    <tr>
        <td >{{user.name}}</td>
        <td>{{user.funds}}</td>
    </tr>
    {% endfor %}
</table>
</div>


<form action="transfer" method='post'>
    {% csrf_token %}

    <div class="row py-4">
    <h2 class="tit col-md-4">Enter Sender</h2>
    <input class="col-md-8" id="sen" name="sender" placeholder="Sender">
    </div>

    <div class="row py-4">
    <h2 class="tit col-md-4">Enter Recipient</h2>
    <input class="col-md-8" id="rec" name="name" placeholder="Recipient">
    </div>

    <div class="row py-4">
    <h2 class="tit col-md-4">Enter Amount</h2>
    <input class="col-md-8" id="am" name="funds" placeholder="Amount">
    </div>

    <button type="submit" class="button col-md-12 py-2 my-5">Transfer</button>
</form>

</div>
</body>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
<script>
$("button").click(function(){
var str1 = $("#sen").val();
var str2 = $("#rec").val();
var str3 = $("#am").val();
alert(str1 + " transferred Rs." + str3 + " to " + str2);
});

</script>
{%endblock%}
